*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Red Hat Text", sans-serif;
}

li {
  list-style: none;
}

.wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 100vh;
  height: 100%;
  overflow: hidden;
  background: hsl(234, 17%, 12%);
}

.wrapper::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url("../images/bg-stars.svg") center center;
  opacity: 0.5;
  animation: flicker 4s linear infinite;
}

@keyframes flicker {
  0% {
    opacity: 1;
  }
  25% {
    opacity: 0.75;
  }
  50% {
    opacity: 0.35;
  }
  75% {
    opacity: 0.75;
  }
  100% {
    opacity: 1;
  }
}
.container {
  text-align: center;
  max-width: 1440px;
  margin: 20vh auto 0 auto;
  flex: 1 0 auto;
}

#launching-phrase {
  font-size: 24px;
  letter-spacing: 10px;
  color: hsl(0, 0%, 100%);
  text-transform: uppercase;
}

.countdown {
  margin-top: 100px;
  display: flex;
  justify-content: center;
}
.countdown .countdown-item {
  text-align: center;
  width: 150px;
  height: 150px;
  position: relative;
  display: flex;
  flex-direction: column;
  margin-right: 30px;
}
.countdown .countdown-item:last-child {
  margin-right: 0;
}
.countdown .countdown-item .timer {
  font-size: 84px;
  font-weight: 700;
  color: hsl(345, 95%, 68%);
  position: relative;
  z-index: 1;
}
.countdown .countdown-item .timer::before {
  content: "";
  top: 0;
  left: 0;
  transform: translateY(-30%);
  width: 100%;
  height: 80px;
  z-index: -1;
  position: absolute;
  background: hsl(237, 21%, 21%);
  border-radius: 10px 10px 0 0;
}
.countdown .countdown-item .timer::after {
  content: "";
  bottom: 0;
  transform: translateY(30%);
  left: 0;
  width: 100%;
  height: 80px;
  z-index: -1;
  position: absolute;
  background: hsl(236, 21%, 26%);
  border-radius: 0 0 10px 10px;
  box-shadow: 0px 9px 0px 0px rgba(6, 6, 6, 0.39);
}
.countdown .countdown-item .timer span::before {
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: -2%;
  border: 10px solid transparent;
  border-left: 10px solid hsl(234, 17%, 12%);
  border-radius: 100px;
}
.countdown .countdown-item .timer span::after {
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: -2%;
  border: 10px solid transparent;
  border-right: 10px solid hsl(234, 17%, 12%);
  border-radius: 100px;
}
.countdown .countdown-item label {
  margin-top: 60px;
  text-transform: uppercase;
  color: hsl(237, 18%, 59%);
  letter-spacing: 7px;
}

.footer {
  height: 30vh;
  background: url("../images/pattern-hills.svg") repeat-x;
  background-size: cover;
  background-position: center;
  position: relative;
}

.social {
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.social ul {
  display: flex;
  justify-content: center;
}
.social ul li {
  margin-right: 35px;
  font-size: 32px;
}
.social ul li:last-child {
  margin-right: 0;
}
.social ul li a {
  color: hsl(237, 18%, 59%);
  transition: color 0.3s ease-out;
}
.social ul li a:hover {
  color: hsl(345, 95%, 68%);
}

@media (max-width: 767px) {
  .countdown .countdown-item {
    width: 125px;
    height: 125px;
    margin-right: 25px;
  }
  .countdown .countdown-item .timer {
    font-size: 62px;
  }
  .countdown .countdown-item .timer::before {
    height: 60px;
  }
  .countdown .countdown-item .timer::after {
    height: 60px;
  }
}
@media (max-width: 582px) {
  .countdown .countdown-item {
    width: 100px;
    height: 100px;
    margin-right: 20px;
  }
  .countdown .countdown-item .timer {
    font-size: 42px;
  }
  .countdown .countdown-item .timer::before {
    height: 45px;
  }
  .countdown .countdown-item .timer::after {
    height: 45px;
    transform: translateY(35%);
  }
  .countdown .countdown-item label {
    font-size: 13px;
    letter-spacing: 5px;
  }
}
@media (max-width: 462px) {
  #launching-phrase {
    font-size: 20px;
  }
  .countdown .countdown-item {
    width: 80px;
    height: 80px;
    margin-right: 15px;
  }
  .countdown .countdown-item .timer {
    font-size: 32px;
  }
  .countdown .countdown-item .timer::before {
    height: 35px;
  }
  .countdown .countdown-item .timer::after {
    height: 35px;
    transform: translateY(40%);
  }
  .countdown .countdown-item label {
    font-size: 11px;
    letter-spacing: 2px;
    margin-top: 45px;
  }
  .social ul li {
    margin-right: 25px;
    font-size: 24px;
  }
}
@media (max-width: 372px) {
  #launching-phrase {
    font-size: 18px;
  }
  .countdown .countdown-item {
    width: 65px;
    height: 65px;
    margin-right: 10px;
  }
  .countdown .countdown-item .timer {
    font-size: 24px;
  }
  .countdown .countdown-item .timer::before {
    height: 25px;
  }
  .countdown .countdown-item .timer::after {
    height: 25px;
    transform: translateY(40%);
  }
  .countdown .countdown-item label {
    font-size: 9px;
    letter-spacing: 2px;
    margin-top: 30px;
  }
}